<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Short links</title>
    <link rel="shortcut icon" href="{% static "img/favicon.jpg" %}" type="image/x-icon">
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>
</head>
<body>
<div class="container">